@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-strikethrough {
  animation: strikethrough 250ms ease-out forwards;
}