css
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-strikethrough {
  animation: strikethrough 250ms ease-out forwards;
}

@keyframes checkmark {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-checkmark {
  animation: checkmark 200ms ease-out forwards;
}
